*{
  font-family: Arial;
}
html{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
a{
  text-decoration: none;
}
#top{
  border-left: solid 0.3em #3a0000;
  border-bottom: solid 1px #3a0000;
  padding-left: 0.3em;
  padding-bottom: 2px;
}
