#box{
    overflow: auto;
    margin: 0;
    height: 100%;
}
@media screen and (min-width: 0px){
    #subContent{
        float: none;
        position: static;
        background-color: #3a0000;
    }
}
@media screen and (min-width: 768px){
    #subContent{
        float: left;
        position: absolute;
        padding: 0;
        width: 20%;
        height: 100%;
        background-color: #3a0000;
    }
}
#list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}
@media screen and (min-width: 768px){
    #list{
        width: 20%;
    }
}
@media screen and (min-width: 0px){
    .sideBar{
        display: block;
        margin-bottom: 0;
        border-top: solid 1px;
        padding: 0.7em 0.5em 0.7em;
        height: 3vh;
        color: #fff;
        font-size: 3vh;
        background-color: #3a0000;
        text-align: left;
    }
}
@media screen and (min-width: 768px){
    .sideBar{
        display: block;
        margin-top: 1vh;
        padding: 0.7em 0.5em 0.7em;
        border: 0;
        width:
        height: 3vh;
        color: #fff;
        font-size: 3vh;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: left;
    }
}
@media screen and (min-width: 768px){
    #listTop{
        /* margin-top: 5vh; */
    }
}
.listTag{
    color: #fff;
}
.listContaints{

}
@media screen and (min-width: 0px){
    #mainContent{
        float: none;
        margin-top: 9vh;
        height: 100%;
    }
}
@media screen and (min-width: 768px){
    #mainContent{
         float: right;
         margin: 0;
         width: 80%;
    }
}
img#poster{
     display: block;
     width: 30vw;
     height: 42.4264vw;
}
@media screen and (min-width: 0px){
    #mainInner{
        margin: 0 5%;
        width: 90%;
        min-height: 100%;

    }
}
@media screen and (min-width: 768px){
    #mainInner{
        margin: 0 10%;
        width: 80%;
    }
}
h1{
    font-size: 100%;
}
h2{
    font-size: 100%;
}
h3{
    font-size: 100%;
}
p{
    font-size: 100%;
}
#poster{
    width: 30vw;
    height: 42.4264vw;
}
@media screen and (min-width: 0px){
    iframe{
        width: 100%;
        height: 105vw;
    }
}
@media screen and (min-width: 768px){
    iframe{
        width: 80%;
        height: 40vw;
    }
}
@media screen and (min-width: 0px){
    .menu{
        margin: 0;
        padding: 1vh 0 1vh 0.5em;
        width: 100%;
        height: 5vh;
        position: fixed;
        font-size: 4vh;
        background-color: #3a0000;
        z-index: 1;
    }
    #menu{
        position: static;
        z-index: 1;
    }
    .btn{
        color: #fff;
    }
}
@media screen and (min-width: 768px){
    .menu{
      width: 10%;
        height: 5vh;
        background-color: #3a0000;
    }
    .btn{
        height: 0;
    }
}
@media screen and (min-width: 0px){
    .timeTable{
        display: block;
        margin: 0 auto;
        width: 95%;
    }
    #timeTapleTop{
        margin-top: 5%;
    }
}
@media screen and (min-width: 768px){
    .timeTable{
        width: 90%;
    }
    #timeTapleTop{
        margin-top: 6vh;
    }
}
