@media screen and (min-width: 0px){
    .panel{
        display: block;
        margin:0 3% 1em 0;
        position: relative;
    }
}
@media screen and (min-width: 768px){
    .panel{
        display: inline-block;
        margin:0 3% 1em 0;
        width: 46%;
        height: 6.25em;
        position: relative;
    }
}
.panel{
  text-align: start;
}
.icon{
  width: 6.25em;
  height: 6.25em;
  position: absolute;
}
.explanation{
  height: 5em;
  margin-left: 100px;
  padding: 0.625em 0 0.625em 1em;
}
.explanation > p{
  margin: 0.5em 0;
  font-size: 100%;
}
p.title{
  font-weight: 700;
}
#mainInner{
  margin: 0 10%;
}