body{
    margin: 0;
}
caption {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.timeTable {
    clear: both;
}
.col2of4 {
    /* width: 400px; */
    /* float: left; */
    zoom: 1;
}
.tableBox{
    margin: 0 10px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
th,td {
    border: 1px solid #fff;
    height: 20px;
}
th {
    width: 70px;
    font-size:12px;
    color: #fff;
    text-align: center;
    background-color: #2c2827;
    vertical-align: top;
}
td {
    height: 20px;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    background: #f3f4ef;
}
.borderNone {
    border-bottom: 1px solid #2c2827;
}
.tableBox th.just {
    padding-top: 7px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}
.tab_wrap{width:500px;margin: 80px auto 0 auto;}
input[type="radio"]{display:none;}
.tab_area{font-size:0; margin:0 10px;}
.tab_area label{width:30px;margin:0 5px;display:inline-block;padding:12px 0;color:#999;background:#ddd;text-align:center;font-size:13px;cursor:pointer;transition:ease 0.2s opacity;}
.tab_area label:hover{opacity:0.5;}
.panel_area{background:#fff;}
.tab_panel{width:100%;height: 3050px;/* padding:80px 0; */display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}
 
#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}
#tab3:checked ~ .tab_area .tab3_label{background:#fff; color:#000;}
#tab3:checked ~ .panel_area #panel3{display:block;}
#tab4:checked ~ .tab_area .tab4_label{background:#fff; color:#000;}
#tab4:checked ~ .panel_area #panel4{display:block;}
#tab5:checked ~ .tab_area .tab5_label{background:#fff; color:#000;}
#tab5:checked ~ .panel_area #panel5{display:block;}
#tab6:checked ~ .tab_area .tab6_label{/* background:#fff; *//* color:#000; */}
#tab6:checked ~ .panel_area #panel6{display:block;}

@media screen and (min-width: 0px){
    body{
        width: 100%;
        height: 100%;
    }
    .timeTable{
        width: 100%;
    }
    .tab_wrap{
        width: 80%;
    }
    .col2of4 {
        width: 300px;
        float: left;
        zoom: 1;
    }
}
@media screen and (min-width: 480px){
    .tab_wrap{
        width: 500px;
    }
    .tab_area label{
        width: 150px;
    }
    .col2of4 {
        width: 500px;
        float: left;
        zoom: 1;
    }
}
@media screen and (min-width: 768px){

}
.color01 {
    background:#D8C8AE;
}
.color02 {
    background: #d99e40;
}
.line1 {
    height: 20px;
}
.line2 {
    height: 40px;
}
.line3 {
    height: 60px;
}
.line4 {
    height: 80px;
}
.line5 {
    height: 100px;
}
.line6 {
    height: 120px;
}
.line7 {
    height: 140px;
}
.line8 {
    height: 160px;
}
.line9 {
    height: 180px;
}
.line10 {
    height: 200px;
}
.line11 {
    height: 220px;
}
.line12 {
    height: 240px;
}
.line13 {
    height: 260px;
}
.line14 {
    height: 280px;
}
.line15 {
    height: 300px;
}
.line16 {
    height: 320px;
}
.line17 {
    height: 340px;
}